:root {
    --beige-dark: #D2C8AE;
    --beige-light: #F8F3E2;
    --blue-dark: #5C6E92;
    --blue-light: #7B97B8;
    --purple-dark: #716587;
    --purple-light: #927CA1;
    --yellow-dark: #E0B31E;
    --yellow-light: #F1D576;
    --green-dark: #3D553D;
    --green-light: #769071;
  
    /*--text-color: #3A3D46;*/
    --bg-white: #FEFCF7;
    --bg-black: #28232A;
    --bg-dark-footer: #332A38;
  }
  
  body{
    background-color: var(--bg-black);
  }
  p{
    color: var(--bg-white);
  }
  .image-not-found{
    color: var(--bg-white);
  }
  .coming-soon{
    font-size: 24px;
    font-family: "Gaegu", sans-serif;
    font-weight: bold;
    color: var(--bg-black);
  
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .star{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }