.footer{
  background-color: var(--blue-light);
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.copyright{
  flex: 1;
  margin: 0;
  color: var(--bg-black);
  padding-left: 5%;
  font-family: "Gaegu", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.socials{
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  text-decoration: none;

  color: var(--bg-black);
  font-family: "Gaegu", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.twt, .linkedin, .github {
  cursor: pointer;
  transition: 250ms;

  text-decoration: none;
  color: var(--text-color);
}

.twt:hover, .linkedin:hover, .github:hover {
  color: var(--blue-dark)
}

.star-switch{
  margin-top: 0.33%;
  margin-bottom: 0.33%;
  margin-right: 2.5%;
}